.top, .notesContainer {
  margin: 5px 10px;
}
.top, .notesTop {
  height: 40px;
  line-height: 40px;
  background: #EFEFEF;
  color: #000;
}
.insertButton {
	float: left;
	min-width: 40px;
	border: 1px solid #00F;
	margin: 3px 2px 0;
	text-align: center;
	cursor: pointer;
}
.noteRow {
	height: 50px;
	overflow: hidden;
	position: relative;
}
.editNote, .deleteNote {
	position: absolute;
	top: 10px;
	right: 40px;
	width: 20px;
	height: 20px;
	text-indent: -99999px;
	background: #F00;
}
.deleteNote {
	right: 10px;
}